<header class="bg-darkSlateBlue text-lightGray flex justify-between h-20 font-header">
  <div class="flex items-center justify-center px-5">
    <%= link_to root_path do %>
      <h1>ヘッダーロゴ</h1>
    <% end %>
  </div>
  <div class="flex items-center justify-end">
    <div class="mr-5 hover:opacity-70">
      <%= link_to t('.top'), root_path %>
    </div>
    <div class="mr-5 hover:opacity-70">
      <%= link_to t('.review_index'), '#' %>
    </div>
    <div class="mr-5 hover:opacity-70">
      <%= link_to t('.inquiry'), '#' %>
    </div>
    <div class="mr-5 hover:opacity-70">
      <%= link_to t('.sign_up'), '#' %>
    </div>
    <div class="mr-5 hover:opacity-70">
      <%= link_to t('.log_in'), '#' %>
    </div>
  </div>
</header>