<div class="mt-7 flex justify-center">
  <div class="w-full max-w-md">
    <h2 class="text-5xl text-dullGold font-header text-center">ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mx-auto mt-7 mb-7">
        <%= f.label :email, class: "text-dullGold" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-lightGray w-md px-3 py-2 mt-1 rounded-lg" %>
      </div>

      <div class="field mx-auto mt-7 mb-7">
        <%= f.label :password, class: "text-dullGold" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "bg-lightGray w-md px-3 py-2 mt-1 rounded-lg" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mx-auto mt-7">
          <%= f.check_box :remember_me, class: "checkbox checkbox-dullGold bg-lightGray" %>
          <%= f.label :remember_me, class: "text-dullGold" %>
        </div>
      <% end %>

      <div class="actions text-center mt-7 btn bg-goldBeige hover:opacity-70">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
